html {
    scroll-behavior: smooth;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    max-width: 100%;
    flex-direction: row;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    float: right;
    align-self: right;
}

.nav-item{
    padding-left: 6px;
    padding-right: 6px;
    text-decoration: none;
    color: lightgrey;
    align-self: center;
    font-family: "Roboto", serif;
    font-size: 25;
}  

.nav-item:hover{
    background-color: lightgrey;
    color: #724319;
}

.title-header{
    font-family: "Roboto", serif;
    font-weight: 900;
    color: white;
}

.main-bg-img{
    margin-top: -40px;
}

.page-heading{
    padding-top: 5px; 
    font-size: 5rem;
    color: #724319;
    z-index: 1;
}

.page-text{
    font-family: "Titan One";
    font-size: 2rem;
    font-weight: 900;
    color: #B99B5B;
    z-index: 1;
}

.page-description{
    font-family: "Saira Condensed";
    font-weight: 200;
    font-weight: 700;
    color: #909090;
    max-width: 70%;
    font-size: large;
    z-index: 1;
}

.dog-bone-img{
    display: none;
   
}

.section{
    display: flex;
    max-width: 100%;
}

.logo{
    max-width: 100%;
}

@media screen and (min-width: 1000px) {
    .dog-bone-img{
        display: block;
        float: right;
    }
   
}

@media screen and (max-width: 1080px) {
    .nav-container {
        flex-direction: row;
        align-items: center;
    }

    .title-header {
        font-size: 30px;
    }

    .main-bg-img{
        max-width: 60%;
        padding-top: 30px;
    }


    .section{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .feature{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-img{
        width: 100%;
    }
    
}


@media screen and (max-width: 800px) {
    .space-container{
        margin-top: 250px;
        margin-left: 20px;
    }
    .nav-container {
        flex-direction: column;
        align-items: center;
    }

    .nav-bar {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 10px;
    }

    .nav-item {
        font-size: 18px;
        padding: 10px 0;
        align-self: center;
    }

    .title-header {
        font-size: 30px;
    }

    .main-bg-img{
        width: 60%;
        padding-top: 30px;
    }

    .page-heading{
        font-size: 3rem;
        padding-left: -20px;
    }

    .section{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .feature{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about-img{
        width: 100%;
    }
    
}



.img-container {
    padding-left: 20px;
}
  
.img-bg {
    position: absolute;
    margin-top: -70px;
    z-index: 0;
}
  
.img-foreground{
    position: relative;
    transform: translate(25%, 50%);
    z-index: 2;
}

.contact-icon{
    padding-left: 12px;
    align-items: center;
}