.contact-icon{
    padding-right: 24px;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 5px;
    max-width: 50px;
    height: fit-content;
}

.nav-bar-footer-container{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
    padding-right: 30px;
    padding-bottom: 3px;
}

.contact-container{
    display: flex;
}

.footer-logo{
    display: none;
}

@media screen and (max-width: 800px) {
    .contact-icon {
        padding-top: 10px;
        width: 50%;
        
    }

    .footer-logo{
        display: block;
    }

    .contact-container{
        flex-direction: column;
    }
}